<!DOCTYPE html>
<html>
<head>
  <title>Opal Server</title>
</head>
<body>
  <%= javascript_include_tag 'react-with-addons' %>
  <%= javascript_include_tag 'shoes-browser' %>
  <%= javascript_include_tag @server.main %>
</body>
</html>
